{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 heading-font">
      Your Shopping Cart
    </h1>
  </div>
</div>
<div class="col">
    {% if bag_items %}
    <!-- Table to display items in cart -->
        <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">Name</th>
            <th scope="col">{{ bag_items }}</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            
            </tr>
        </thead>
        <tbody>   
        {% for item in bag_items %}     
        <tr>
        <td scope="col">{{ item.name }}</td>
        <td scope="col">{{ item.product_image.url }}</td>
        <td scope="col">{{ item.quantity }}</td>
        <td scope="col">{{ item.product.product_price }}</td>

        <td></td>
            <td><ul style="text-align:right"><li>Subtotal:£ {{ total|floatformat:2 }}</li>
            <li> Delivery fee:£ {{ delivery|floatformat:2 }}</li>
            <li><strong>Total:£ {{ grand_total|floatformat:2 }}</strong></li>
            </ul></td>
        </tr>
        <tr>
        <td>
        {% endfor %}
        <!-- Needs Checkout functionality -->
            <a href="{% url 'shop' %}" class="btn cart_empty_btns" type="button"><i class="fas fa-undo-alt"></i> Keep Shopping</a>
            <a href="{% url 'challenges' %}" class="btn cart_empty_btns" type="button"><i class="fas fa-undo-alt"></i> Back to Challenges</a>
            <a href="#" class="btn btn-lrg my-btn-light">
                <span class="text-uppercase">Secure Checkout</span>
                <span class="icon">
                    <i class="fas fa-lock"></i>
                </span>
            </a>
        </td>
        </tr>
        </tbody>
        </table>
         <br>
    {% else %}
    <!-- Empty cart user-view -->
    <div class="container-fluid">
        <h2 class="cart_empty">Your cart is empty</h2>
        <span style="margin-left: 40%;">
                <a href="{% url 'shop' %}" class="btn cart_empty_btns" type="button"><i class="fas fa-undo-alt"></i> Keep Shopping</a>
                <a href="{% url 'challenges' %}" class="btn cart_empty_btns" type="button"><i class="fas fa-undo-alt"></i> Back to Challenges</a>
                </span>
    </div>
    <br>
    {% endif %}
</div>
    
		
{% endblock %}