{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 heading-font">
      Your Shopping Cart
    </h1>
  </div>
</div>
<div class="col">
    {% if bag_items %}
    <!-- Table to display items in cart -->
        <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">Name</th>
            <th scope="col"></th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            </tr>
        </thead>
        <tbody>        
        {% for item in bag_items %}

            <tr>
            <th>{{ item.product.name }}</th>
            <td>{% if product.product_image %}
						<img class="card-img" src="{{ product.product_image.url }}" alt="{{ product.name }}">
                    {% else %}
						<img class="card-img" src="{{ MEDIA_URL }}lost_image.png" alt="{{ product.name }}">
				{% endif %}</td>

            <td>£{{ item.product.product_price }}</td>
<!-- Need to add in messages funcationality -->
            <td><form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                {% csrf_token %}
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button class="decrement-qty btn" 
                                data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                <span>
                                    <i class="fas fa-minus-square fa-sm"></i>
                                </span>
                            </button>
                        </div>
                        <input class="form-control form-control-sm qty_input" type="number"
                            name="quantity" value="{{ item.quantity }}" min="1" max="10"
                            data-item_id="{{ item.item_id }}"
                            id="id_qty_{{ item.item_id }}">
                        <div class="input-group-append">
                            <button class="increment-qty btn"
                                data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                <span>
                                    <i class="fas fa-plus-square fa-sm"></i>
                                </span>
                            </button>
                        </div>
                        </div>
                        </div>
                        </form>
                        </td>
            </tr>  
        <tr>
        
        {% endfor %}
        <td></td>
        <td></td>
            <td><ul style="text-align:right"><li>Subtotal:£ {{ total|floatformat:2 }}</li>
            <li> Delivery fee:£ {{ delivery|floatformat:2 }}</li>
            <li><strong>Total:£ {{ grand_total|floatformat:2 }}</strong></li>
            </ul></td>
        </tr>
        <tr>
        <td>
        <!-- Needs Checkout functionality -->
            <a href="{% url 'shop' %}" class="btn cart_empty_btns" type="button"><i class="fas fa-undo-alt"></i> Keep Shopping</a>
            <a href="{% url 'challenges' %}" class="btn cart_empty_btns" type="button"><i class="fas fa-undo-alt"></i> Back to Challenges</a>
            <a href="{% url 'checkout' %}" class="btn btn-lrg my-btn-light">
                <span class="text-uppercase">Secure Checkout</span>
                <span class="icon">
                    <i class="fas fa-lock"></i>
                </span>
            </a>
        </td>
        </tr>
        </tbody>
        </table>
    {% else %}
    <!-- Empty cart user-view -->
    <div class="container-fluid">
        <h2 class="cart_empty">Your cart is empty</h2>
                <a href="{% url 'shop' %}" class="btn cart_empty_btns" type="button"><i class="fas fa-undo-alt"></i> Keep Shopping</a>
                <a href="{% url 'challenges' %}" class="btn cart_empty_btns" type="button"><i class="fas fa-undo-alt"></i> Back to Challenges</a>
    </div>
    {% endif %}
</div>
    
		
{% endblock %}