{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 heading-font">
      Your Shopping Cart
    </h1>
  </div>
</div>
<div class="col">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">image</th>
      <th scope="col">price</th>
      <th scope="col">quantity</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>  
  <tr>
  <td></td>
  <td></td>
    <td><ul style="text-align:right"><li>Subtotal:£</li>
    <li> Delivery fee:£</li>
    <li><strong>Total:£</strong></li>
    </ul></td>
  </tr>
  </tbody>
</table>
</div>
    
		
{% endblock %}