{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="crossfade">
	<img class="bottom" src="{{ '../media/hero-image3.jpg' }}" style= "width: 100%">
	<img class="top" src="{{ '../media/hero-image2.jpg' }}" style= "width: 100%">
</div>
	<div class="container-fluid">
		<div class="container">
			<h1 class="hero-font">
				Let's Go Hiking
			</h1>
		</div>
		<div class="container">
			<h2 class="hero-subtitle">Find your next challenge</h2>
		</div>
		<div class="container">
			<button class="button find-out-more-btn">Find out more</button>
		</div>

	</div>
	{% endblock %}