{% extends "base.html" %} {% load static %} {% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 heading-font">
            Add a challenge
        </h1>
        <!-- Form for admin to add challenges to site - crispy -->
    </div>
</div>
{% if request.user.is_superuser %}
<div class="container" style="color: white;">
    <div class="row">
        <div class="col">
            <form method="POST" action="{% url 'add_challenge' %}" class="form" enctype="multipart/form-data">
                {% csrf_token %} {{ form | crispy }}
                <div class="text-right">
                    <a class="btn my-btn-light" href="{% url 'challenges' %}">Cancel</a>
                    <button class="button my-btn-dark" type="submit">Add Challenge</button>
                </div>
                <br />
            </form>
            <br />
        </div>
    </div>
</div>
{% endif %} {% endblock %}