{% extends "base.html" %}
{% load static %}

{% block content %}    
<div class="container-fluid">
    <!-- Form for admin to add challenged to site - crispy -->
      <h1 class="title">
        Add a challenge
      </h1>
      <h2 class="subtitle">
        Admin Area
      </h2>
    <div class="container">
        <div class="row">
            <div class="col">
                <form method="POST" action="{% url 'add_challenge' %}" class="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-right">
                        <a class="btn my-btn-light" href="{% url 'challenges' %}">Cancel</a>
                        <button class="button my-btn-dark" type="submit">Add Challenge</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
</div>
{% endblock %}