{% extends "base.html" %} {% load static %}

{% block extra_title %} Challenges {% endblock %}

{% block content %}
<!-- Challenges Header and quote -->
{% for challenge in challenges %}
<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<h1 class="display-4 heading-font">
			{{ challenge.name }} Challenges
		</h1>
		<h2 class="lead">
			"The mountains are calling and I must go." - John Muir
		</h2>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col">
			<div class="table-responsive rounded">
				<table class="table table-striped">
					<thead>
						<tr>
							<td class="p-4 w-25">
								{% if challenge.challenge_image %}
								<img class="card-img" src="{{ challenge.challenge_image.url }}" alt="{{ challenge.name }}">
                                {% else %}
								<img class="card-img" src="{{ MEDIA_URL }}lost_image.png" alt="{{ challenge.name }}">
						        {% endif %}
                            </td>
							<td>
								<p class="challenge-header">{{ challenge.name }}</p>
								<p class="challenge-subheader">{{ challenge.challenge_description }}</p>
								<br>
								<p>Difficulty: {{ challenge.challenge_difficulty_rating }}</p>

							</td>
							<td>
								<p class="text-nowrap py-4" style="color:white">------------------------------------</p>
								<!-- Hack job to stop challenge discription to overflowing and altering button set up-->
								<p class="py-4">Distance: {{ challenge.challenge_distance }} KM</p>
								<p class="py-4">Ascent: {{ challenge.challenge_ascent }} M</p>
								<p class="text-nowrap py-4">Estimated time: {{ challenge.challenge_estimate_time }}
									Hours</p>
								<br>
							</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="py-4">
								<p class="challenge-subheader">Location: {{ challenge.challenge_location }}</p>
							</td>
							<td class="py-4">
								<p class="challenge-subheader">Startpoint: {{ challenge.challenge_start_point }}</p>
							</td>
							<td class="py-4">
								<p class="challenge-subheader">Carpark: {{ challenge.challenge_carpark }}</p>
							</td>
						</tr>
						<tr>
							<td class="py-4 challenge-subheader">Recommended Map: {{ challenge.recommended_map }}</td>
							<td class="py-4">
								<p class="challenge-subheader">For purchasing this challenge pack you'll revieve a
									{{ challenge.challenge_award_name }}</p>
								<br>
							</td>
							<td class="py-4">
								{% if challenge.challenge_image %}
								<img class="card-img award_image" src="{{ challenge.challenge_award_image.url }}" alt="{{ challenge.name }}">
                                {% else %}
								<img class="card-img" src="{{ MEDIA_URL }}lost_image.png" alt="{{ challenge.name }}">
								{% endif %}
						    </td>
						</tr>
					</tbody>
                </table>
            </div>
		</div>
    </div>
<br>
<div class="row">
    <div class="container">
        <h2 class="challenge-header" style="margin-left:5%">Route</h2>
    </div>
</div>
<br>
    <div style="color:white">
        <div class="row">
            <div class="container">
            <h3 class="challenge-subheader">Your challenge begins here...</h3>
            <br>
                <p><i class="fas fa-map-signs"></i> {{ challenge.Route_Step_1}}</p>
            </div>
        </div>
        <br>
        <div class="row">
            {% if challenge.Route_Step_2 %}
            <div class="container">
                <p><i class="fas fa-map-signs"></i> {{ challenge.Route_Step_2}}</p>
            </div>
            {% else %}
            <div></div>
            {% endif %}
        </div>
        <br>
        <div class="row">
            {% if challenge.Route_Step_3 %}
            <div class="container">
                <p><i class="fas fa-map-signs"></i> {{ challenge.Route_Step_3}}</p>
            </div>
            {% else %}
            <div></div>
            {% endif %}
        </div>
        <br>
        <div class="row">
            {% if challenge.Route_Step_4 %}
            <div class="container">
                <p><i class="fas fa-map-signs"></i> {{ challenge.Route_Step_4}}</p>
            </div>
            {% else %}
            <div></div>
            {% endif %}
        </div>
        <br>
        <div class="row">
            {% if challenge.Route_Step_5 %}
            <div class="container">
                <p><i class="fas fa-map-signs"></i> {{ challenge.Route_Step_5}}</p>
            </div>
            {% else %}
            <div></div>
            {% endif %}
        </div>
        <br>
        <div class="row">
            {% if challenge.Route_Step_6 %}
            <div class="container">
                <p><i class="fas fa-map-signs"></i> {{ challenge.Route_Step_6}}</p>
            </div>
            {% else %}
            <div></div>
            {% endif %}
        </div>
        <br>
        <div class="row">
            {% if challenge.Route_Step_7 %}
            <div class="container">
                <p><i class="fas fa-map-signs"></i> {{ challenge.Route_Step_7}}</p>
            </div>
            {% else %}
            <div></div>
            {% endif %}
        </div>
        <br>
        <div class="row">
            {% if challenge.Route_Step_8 %}
            <div class="container">
                <p><i class="fas fa-map-signs"></i> {{ challenge.Route_Step_8}}</p>
            </div>
            {% else %}
            <div></div>
            {% endif %}
        </div>
        <div class="container">
            {% if challenge.map_image %}
            <img class="card-img w-50" src="{{ challenge.map_image.url }}" alt="{{ challenge.name }}">
            {% else %}
            <img class="card-img w-50" src="{{ MEDIA_URL }}lost_image.png" alt="{{ challenge.name }}">
            {% endif %}
        </div>
	</div>
</div>
{% endfor %}
{% endblock %}