@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Caveat:wght@700&family=Raleway&display=swap');

/* colour scheme (#007878 teal) (#03A696 lighter teal) (#E6E7E8 light grey) (#FF9600 mustard) (#284664 navy) */
body {
    font-family: 'Raleway', sans-serif;
    width:100%;
    background-color: #284664;
}

.col {
    margin-bottom: 30px;
}

/* Navbar */
.header-title {
    font-family: 'Alfa Slab One', cursive;
    font-size: 2.5em;
    color: black;
    padding-top: 10px;
}

.navbar-brand, .navbar-tabs {
    display: inline-block;
}

.navbar-nav .nav-link {
    font-size: 1.3em;
    padding-left: 50px!important;
}

/* Footer */
.my_footer {
    background-color: #284664;
    border-top-color: #FF9600;
    border-bottom-color:#284664;
    border-right-color: #284664;
    border-left-color: #284664;
    border-style: solid;
    color: #E6E7E8;
    padding: 2rem 1.5rem 2rem;
}

/* Shopping cart with counter taken from https://www.solodev.com/ - see readme */

ul li a.cart {
  font-size: 2rem;
  color: black;
  margin-left: 20px;
}

ul li a.cart:hover {
  text-decoration: none;
  color: #03A696;
}

ul li a.cart .cart-basket {
  font-size: 1rem;
  position: absolute;
  top: -9px;
  right: -5px;
  width: 22px;
  height: 22px;
  color: black;
  font-family: Alfa Slab One;
  background-color: #FF9600;
  border-radius: 50%;
}

/* CSS code for crossfading hero-images taken from https://cssreset.com/how-to-create-the-perfect-image-crossfade-with-css3-transitions/ */

#crossfade {
    position: relative;
    width:100%;
}
#crossfade img {
    position:absolute;
    left:0;
    opacity: 1;
    -webkit-transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
    -ms-transition: opacity 2s ease-in-out;    
    transition: opacity 2s ease-in-out;
}
 
#crossfade img.top:hover {
    opacity:0;
}


/* Text styling */
.hero-font {
    font-family: 'Alfa Slab One', cursive;
    font-size: 4em;
    z-index: 999;
    position: absolute;
    padding-top: 10%;
    color: black;
}

.hero-subtitle {
    z-index: 999;
    padding: 18% 22%;
    position: absolute;
    color: black;
    
}

.heading-font {
    font-family: 'Alfa Slab One', cursive;
    font-size: 4em;
    color: black
}

.cart_empty {
    font-family: 'Alfa Slab One', cursive;
    font-size: 2em;
    color: #E6E7E8;
    text-align: center;
}

/* Buttons */
.find-out-more-btn {
    background-color: #FF9600;
    margin-left: 40%; 
    margin-top: 25%;
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
}

.my-btn-dark {
    background-color: #007878;
    color: #E6E7E8!important;
}

.my-btn-light {
    background-color: #03A696;
}

.cart_empty_btns {
    display: inline-block;
    background-color: #FF9600;
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
    margin-left: 25%;
    margin-top: 20px;
}

/* card styling */
.challenge-card {
    padding-top: 50px;
}

.card-img.award_image {
    width: 50px;
}

.card-img.award_image:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:300px;
    height:auto;
    display:block;
    z-index:999;
    transition: 0.3s;
}


/* Table */
.table {
    margin-left: 15%;
    width: 70%;
    padding: 20%;
}