@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Caveat:wght@700&family=Raleway&display=swap');

/* colour scheme (#007878 teal) (#03A696 lighter teal) (#E6E7E8 light grey) (#FF9600 mustard) (#284664 navy) */
body {
    font-family: 'Raleway', sans-serif;
    width:100%;
    background-color: #284664;
}

* {
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.col {
    margin-bottom: 30px;
}

.my_hr {
    background-color: #284664; 
}

a {
    color: #03A696;
}

a:hover {
    color: #007878;
}

/* Navbar */
.header-title {
    font-family: 'Alfa Slab One', cursive;
    font-size: 2em;
    color: black;
    padding-top: 1px;
}

.navbar-brand, .navbar-tabs {
    display: inline-block;
}

.navbar-nav .nav-link {
    font-size: 1.1em;
    padding-left: 20px!important;
}

/* Footer */
.my_footer {
    background-color: #284664;
    border-top-color: #FF9600;
    border-bottom-color:#284664;
    border-right-color: #284664;
    border-left-color: #284664;
    border-style: solid;
    padding: 0.7rem;
}

.footer_links {
    color: #E6E7E8;
    font-size: 1.2rem;
}

.footer_links:hover {
    color: #03A696;
}

.social_networks {
    text-align: center;
}

.social_networks li {
    display: inline;
    padding-left: 9%;
    padding-right: 9%;
}

.social_networks i {
    font-size: 200%;
    color: #E6E7E8;
}

.social_networks i:hover {
    color: #03A696;
}


/* Shopping cart with counter taken from https://www.solodev.com/ - see readme */

ul li a.cart {
  font-size: 2rem;
  color: black;
  margin-left: 20px;
}

ul li a.cart:hover {
  text-decoration: none;
  color: #03A696;
}

ul li a.cart .cart-basket {
  font-size: 1rem;
  position: absolute;
  top: -9px;
  right: -5px;
  width: 22px;
  height: 22px;
  color: black;
  font-family: Alfa Slab One;
  background-color: #FF9600;
  border-radius: 50%;
}

/* CSS code for crossfading hero-images taken from https://cssreset.com/how-to-create-the-perfect-image-crossfade-with-css3-transitions/ */

#crossfade {
    position: relative;
    width:100%;
}
#crossfade img {
    position:absolute;
    left:0;
    opacity: 1;
    -webkit-transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
    -ms-transition: opacity 2s ease-in-out;    
    transition: opacity 2s ease-in-out;
}
 
#crossfade img.top:hover {
    opacity:0;
}


/* Text styling */
.hero-font {
    font-family: 'Alfa Slab One', cursive;
    font-size: 4em;
    position: absolute;
    padding-top: 1%;
    color: black;
    margin-left: 10%;
}

.hero-subtitle {
    z-index: 999;
    padding: 10% 15%;
    position: absolute;
    color: black;
    font-weight: bolder;
    font-size: 2rem;
    
}

.heading-font {
    font-family: 'Alfa Slab One', cursive;
    font-size: 4em;
    color: black
}

.cart_empty {
    font-family: 'Alfa Slab One', cursive;
    font-size: 2em;
    color: #E6E7E8;
    text-align: center;
}

.smaller-shop-font {
    font-family: 'Alfa Slab One', cursive;
    font-size: 2em;
    color: black;
    margin-left: 5%;
    margin-top: 1.5%;
}

/* Buttons */
.find-out-more-btn {
    background-color: #FF9600;
    margin-left: 40%; 
    margin-top: 15%;
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
}

.find-out-more-btn:hover {
    background-color: #D48702;
}

.my-btn-dark {
    background-color: #007878;
    color: #E6E7E8!important;
    font-weight: bold;
}

.my-btn-dark:hover {
    background-color: #024d4d;
    color: #E6E7E8!important;
    font-weight: bold;
}

.my-btn-light {
    background-color: #03A696;
    font-weight: bold;
}

.btn.focus, .btn:focus, button.focus, button:focus, .button.is-focused:not(:active), .button:focus:not(:active) {
    box-shadow: 0 0 0 0.4rem rgba(7, 179, 156, 0.384);
}

.btn.active, .btn:active, button:active, button:active {
    box-shadow: 0 0 0 0.2rem #03A696;
}

.my-btn-light:hover {
    background-color: rgb(8, 235, 212);
    font-weight: bold;
}

.cart_empty_btns {
    display: inline-block;
    background-color: #FF9600;
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
 
}

.about_btns {
    display: inline-block;
    background-color: #FF9600;
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
    margin-left: 15%;
    margin-top: 10px;
}

/* card styling */


.card-img.award_image {
    width: 100px;
}

.challenge-header {
    font-family: 'Alfa Slab One', cursive;
    font-size: 3em;
    color: black;
}

.challenge-subheader {
    font-family: 'Alfa Slab One', cursive;
    font-size: 1.2em;
    color: black;
}

/*shop stylings */

.shop-header {
    font-family: 'Alfa Slab One', cursive;
    font-size: 2.1em;
    color: black;
}

.shop-price {
    font-family: 'Alfa Slab One', cursive;
    font-size: 1.5em;
    color: black;
}

.quantity-label {
    font-family: 'Alfa Slab One', cursive;
    font-size: 1.5em;
    color: black;
    margin-left: 20px;
    margin-right: 60px;
}

.shop-quantity {
    margin-left: 20px;
    margin-right: 60px;

}

.my-btn-dark .shop {
    margin-left: 30px;
}

/* Table */
.table {
    margin-left: 15%;
    width: 70%;
    padding: 20%;
}

/* Allauth styling */

ul .profile_list {
    margin-left: 20px;
}

form#signup_form.form-group.signup {
    margin-left: 10%;
}

form.form-group.login {
        margin-left: 10%;
}

.smaller-heading-font {
    font-family: 'Alfa Slab One', cursive;
    font-size: 3em;
    color: black;
    margin-left: 10%;
}

.smaller-subheading-font {
    font-family: 'Alfa Slab One', cursive;
    font-size: 1.5em;
    color: black;
    margin-left: 10%;
}


.btn.my-btn-dark.sign-out-btn {
    margin-left: 10%;
    margin-top: 20px;
}

/* The sidebar menu - taken from https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp*/
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 25%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #007878; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 100px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Alfa Slab One', cursive;
    font-size: 1.3em;
    color: black;
    padding-top: 1px;
}

.card-img.profile_image {
    width: 250px;
    margin-left: 2em;
    margin-top: 5%;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #E6E7E8;
}

/* Style page content */
.main {
  margin-left: 25%; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* Stripe styling */

.payment-border-box {
  padding: 10px 20px 11px;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray; 
  border-radius: 5px;
  width: 100%;
}



/* Media Queires */

@media (min-width: 576px) {
.col-sm-6 {
    margin-bottom: 20px;
}}

@media (min-width: 768px) {
.col-md-6 {
    margin-bottom: 20px;
}}

@media (min-width: 992px) {
.col-lg-4 {
    margin-bottom: 30px;
}}

@media (min-width: 1200px) {
.col-xl-3 {
    margin-bottom: 30px;
}}