{% extends "account/base.html" %}


{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1 class="smaller-heading-font">{% trans "Sign Up" %}</h1>
<br>

<p class="smaller-subheading-font">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">log in</a>.{% endblocktrans %}</p>
<br>
<form class="form-group signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn my-btn-dark" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endblock %}
