{% load static %}

<!doctype html>
<html lang="en">

<head>

	{% block meta %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{% endblock %}

	{% block extra_meta %}
	{% endblock %}

	{% block corecss %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
	{% endblock %}

	{% block extra_css %}
	{% endblock %}

	{% block corejs %}
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
	</script>
	<script src="https://kit.fontawesome.com/90ed803b97.js" crossorigin="anonymous"></script>
	{% endblock %}

	{% block extra_js %}
	{% endblock %}

	<title>Let's Go Hiking! {% block extra_title %}{% endblock %}</title>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand header-title" href="#">
    <img src="../media/HEADERLOGO.png" height="100" width="100" alt="Site Logo">Let's Go Hiking
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Challenges</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Shop
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Patches</a>
          <a class="dropdown-item" href="#">Stickers</a>
          <a class="dropdown-item" href="#">Hats</a>
          <a class="dropdown-item" href="#">Water Bottles</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Shop Everything</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
	

	{% if messages %}
	<div class="message-container"></div>
	{% endif %}

	{% block page_header %}
	{% endblock %}

	{% block content %}
	{% endblock %}

	{% block page_footer %}
	{% endblock %}

	{% block postloadjs %}
	{% endblock %}


</body>

</html>