{% extends "base.html" %} 
{% load static %} 

{% block content %}
<!-- Shop Header and links to categories -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 heading-font">
      Shop
    </h1>
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item">Patches</li>
      <li class="list-group-item">Stickers</li>
      <li class="list-group-item">Hats</li>
      <li class="list-group-item">Water Bottles</li>
    </ul>
  </div>
</div>


 <!-- Product Card-->
 
 <div class="container-fluid">
	<div class="row">
         <div class="col-4">
            <div class="card text-center rounded shadow-sm border-0" id="product_card">
            {% for product in products %}
                <div class="card-body p-0"><img src="{{ product.product_image.url }}" alt="" class="img-fluid d-block mx-auto mb-3">
                    <h2><strong>{{ product.name }}</strong></h2>
                    <p class="small text-muted font-italic">{{product.product_description}}</p>
                    <p><strong>£ {{product.product_price}}</strong></p>
                    <!-- Add to cart functionality -->
                    <a href="#"><button type="button" class="btn btn-info my-btn-dark text-nowrap">
                                        Add to cart</button></a></li> 
                </div>
                {% endfor %}
                
            </div>
            
            </div>
        </div>
        </div>
       

 {% endblock %}
