{% extends "base.html" %} {% load static %}
{% block extra_js %}<script src="{% static 'js/main.js' %}"></script>
<script src="https://js.stripe.com/v3/"></script>{% endblock %}


{% block content %}
<section class="jumbotron jumbotron-fluid">

	<div class="container">
		<h2 class="smaller-heading-font">Ready to check out? 
		<button class="button is-primary" id="buy_now_btn"><i class="fas fa-lock"></i>  Secure Checkout with Stripe</button></h2>
	<h6 class="smaller-subheading-font"><strong>Total:£ {{ grand_total|floatformat:2 }}</strong></h6>
    </div>
	<br>
	<div class="container">
		<a href="{% url 'bag' %}" class="cart position-relative d-inline-flex" aria-label="View your shopping cart">
			<h2 class="smaller-subheading-font"><i class="fas fa-chevron-left" style="color:#FF9600"></i>Or go back your shooping cart <i class="fas fa fa-shopping-cart" style="color:#FF9600"></i></h2>
		</a>
	</div>
</section>

<script>
	var stripe = Stripe('{{ stripe_publishable_key }}');

    const buy_now_button = document.querySelector('#buy_now_btn')

    buy_now_button.addEventListener('click', event => {   
                
        stripe.redirectToCheckout({
        // Make the id field from the Checkout Session creation API response
        // available to this file, so you can provide it as parameter here
        // instead of the {{CHECKOUT_SESSION_ID}} placeholder.
            sessionId: '{{ session_id }}'
        }).then(function (result) {
            // If `redirectToCheckout` fails due to a browser or network
            // error, display the localized error message to your customer
            // using `result.error.message`.
        });
    })
</script>

{% endblock %}