{% extends "base.html" %} {% load static %}
{% block extra_js %}<script src="{% static 'js/main.js' %}"></script> 
<script src="https://js.stripe.com/v3/"></script>{% endblock %}


{% block content %}
  <section class="section">
    <div class="container">
      <button class="button is-primary" id="buy_now_btn">Purchase!</button>
    </div>
  </section>

<script>
    var stripe = Stripe('{{ stripe_publishable_key }}');

    const buy_now_button = document.querySelector('#buy_now_btn')

    buy_now_button.addEventListener('click', event => {   
                
        stripe.redirectToCheckout({
        // Make the id field from the Checkout Session creation API response
        // available to this file, so you can provide it as parameter here
        // instead of the {{CHECKOUT_SESSION_ID}} placeholder.
            sessionId: '{{ session_id }}'
        }).then(function (result) {
            // If `redirectToCheckout` fails due to a browser or network
            // error, display the localized error message to your customer
            // using `result.error.message`.
        });
    })
</script>

{% endblock %}