{% extends "base.html" %} {% load static %}
{% load cart_tools %}


{% block content %}
<section class="jumbotron jumbotron-fluid">
    <div class="container">
        <h2 class="smaller-heading-font">Your order information is below and an email confirmation will be sent to {{ order.email }}</h2>                    
            
    </div>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                {% if cart_items %}
                    <div class="table-responsive rounded">
                        <table class="table table-striped">
                            <thead class="text-black">
                                <tr>
                                    <th>Order Number {{ order.order_number }}</th>
                                    <th>Order Date {{ order.date }}</th>
                                </tr>
                                <tr>
                                    <th scope="col">Order summary</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in order.lineitems.all %}
                                <tr>
                                    <td class="w-30">
                                        {% if item.product.product_image %}
                                        <img class="img-fluid" style="width:100px" src="{{ item.product.product_image.url }}" alt="{{ item.product.name }}">
                                        {% else %}
                                        <img class="img-fluid" style="width:100px" src="{{ MEDIA_URL }}lost_image.png" alt="{{ item.product.name }}">
                                        {% endif %}
                                    </td>
                                    <td>
                                        <p><strong>{{ item.product.name }}</strong></p>
                                    </td>
                                    <td>
                                        <p>£{{ item.product.price }}</p>
                                    </td>  
                                    <td>
                                        <p data-item_id="{{ item.item_id }}"
                                                        id="id_qty_{{ item.item_id }}">{{ item.quantity }}</p>
                                    </td> 
                                    <td class="py-3">
                                        <p class="my-0">£ {{ item.product.price | calc_subtotal:item.quantity }}</p>
                                    </td>                                       
                                    
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="pt-5 text-right">
                                    <h6>Delivery fee:£ {{ delivery|floatformat:2 }}</h6>
                                    <br>
                                    <h6 class="smaller-subheading-font text-right"><strong>Total:£ {{ grand_total|floatformat:2 }}</strong></h6>
                                </td>
                            </tr>                         
                        </table>
                        <br>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}